.ant-layout {
    height: 100vh;

    &#layout-root {

        @media (max-width: 896px) {
            flex-direction: column;
        }
    }

    &-header {
        background: #001529;
		height: initial;
        padding: 0;

		#logo {
			color: #ffffff;
			display: inline-block;
			font-size: 30px;
			margin-left: 16px;
		}

		#header-utility {
			display: inline-block;
			float: right;
			margin-right: 16px;
		}
    }

    &-content {
		display: flex;
        flex-flow: column;
        height: 100%;

		#map-container {
			flex: 1;

			#map-utility {
				margin: 8px 0 0 8px;
				max-width: 300px;
				position: absolute;
				z-index: 1;

				.ant-calendar-picker {
					margin-top: 8px;
					width: 100%;
				}
			}

			#map {
				height: inherit;
			}
		}
    }

	&-sider {
		background: #f0f2f5;

		&#sider-root {

			@media (max-width: 896px) {
				// Override with !important because ant adds inline styles to the element
				min-width: 100% !important;
				flex: 0 !important;
			}
		}
	}

    &-footer {
		background: rgba(240, 242, 245, 0.8);
		bottom: 0;
		font-size: 10px;
		left: 40%;
		margin: 8px 0 0;
        padding: 4px;
		position: absolute;
        text-align: center;
    }
    
    // Accessibility - make placeholder text darker
    ::placeholder {
      color: rgba(0, 0, 0, 0.65);
      opacity: 1; 
    }
}
