.ant-layout {
    height: 100vh;

    &#layout-root {

        @media (max-width: 896px) {
            flex-direction: column;
        }

        #content-root {
            flex-direction: row-reverse;
        }
    }

    &-header {
        background: #002140;
        height: initial;
        padding: 0;

        #logo {
            color: #ffffff;
            display: inline-block;
            font-size: 30px;
            margin-left: 16px;
        }

        #header-utility {
            display: inline-block;
            float: right;
            margin-right: 16px;

            span {

                @media (max-width: 640px) {
                    display: none;
                }
            }
        }
    }

    &-content {
        display: flex;
        flex-flow: column;
        height: 100%;

        #map-container {
            flex: 1;

            #map-utility {
                margin: 8px 0 0 8px;
                max-width: 50%;
                position: absolute;
                z-index: 1;

                .ant-calendar-picker {
                    margin-top: 8px;
                    width: 100%;
                }
            }

            #map {
                height: inherit;
            }
        }
    }

    &-sider {
        background: #f0f2f5;
        display: flex;
        flex: 1 !important;
        flex-direction: column;
        max-width: unset !important;
        padding: 0;
        z-index: 1;
        
        &-children {
          overflow: scroll;
        }

        .ant-calendar-picker {
            margin-top: 8px;
            width: 100%;
        }

        & ~ .ant-layout-content {

            @media (max-width: 896px) {
                display: none;
            }
        }

        &.ant-layout-sider-collapsed {
            flex: unset !important;

            @media (max-width: 896px) {
                width: unset !important;
            }

            ~ .ant-layout-content {

                @media (max-width: 896px) {
                    display: flex;
                }
            }

            .ant-layout-sider-children {
                display: none;
            }

            .ant-layout-sider-trigger {
                height: 100%;

                .anticon {
                    position: absolute;
                    right: 40%;
                    top: 50%;
                }
            }
        }

        &-children {
            display: flex;
            flex-direction: column;

            #sensor-sidebar {
                .ant-collapse-header {
                    padding: 0px;

                    div {
                        padding: 12px;
                    }
                }
            }

            #details-header {
                flex-shrink: 0;
                text-align: center;
            }

            .ant-collapse {
                overflow-y: scroll;
            }

            .ant-layout-footer {
                font-size: 10px;
                left: 40%;
                margin: auto 0 0;
                padding: 4px;
                text-align: center;
            }
        }

        &-trigger {
            flex-shrink: 0;
            position: relative;
            width: initial !important;
        }
    }

    // Accessibility - make placeholder text darker
    ::placeholder {
        color: rgba(0, 0, 0, 0.65);
        opacity: 1;
    }

    // Accessibility - add back in focus outline
    .ant-btn:focus,
    input:focus,
    .ant-collapse > .ant-collapse-item > .ant-collapse-header:focus {
        outline: 1px dotted #212121 !important; // Needs to override the antd presets
        outline: 5px auto -webkit-focus-ring-color !important;
    }

    // Accessibility - skip to main content link
    .skip-link {
        background-color: white;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
        display: block;
        left: -9999em;
        outline: none;
        padding: 15px 23px 14px;
        position: absolute;
        text-transform: none;
        top: -9999em;

        &:focus {
            clip: auto;
            height: auto;
            left: 7px;
            top: 7px;
            width: auto;
            z-index: 1;
        }
    }



    .map-marker {
        transition: all 0.25s ease;
        height: 60px;
        width: 60px;
        -webkit-transition: all 0.25s ease;

        &:hover {
            height: 65px;
            width: 65px;
        }
    }
}

// Accessibility - make grey colour darker 
.ant-switch {
    background-color: #696868;
}

.ant-switch-checked {
    background-color: #1890ff;
}
