.ant-layout {
    height: 100vh;

    &#layout-root {

        @media (max-width: 1023px) {
            flex-direction: column;
        }
    }

    &-sider {

        &#sider-root {

            @media (max-width: 1023px) {
                // Override with !important because ant adds inline styles to the element
                min-width: 100% !important;
            }
        }

        #logo {
            color: #ffffff;
            font-size: 30px;
            margin: 16px;
            text-align: center;
        }

        .ant-menu {
            margin: 16px 0;
        }

        .utility-container {

            .ant-row {
                margin: 16px;
            }
        }
    }

    &-header {
        background: #f0f2f5;
		height: initial;
        padding: 0;
    }

    &-content {
        flex-flow: column;
        height: 100%;

        #content-container {
            height: inherit;

        }

        #map-container {
            height: inherit;

            #map-overlay {
                margin: 16px;
				position: absolute;
            }

            #map {
				height: inherit;
            }
        }
    }

    &-footer {
		background: rgba(240, 242, 245, 0.8);
		bottom: 0;
		font-size: 10px;
		left: 40%;
		margin: 8px 0 0;
        padding: 4px;
		position: absolute;
        text-align: center;
    }
}
